---
apiVersion: v1
kind: ConfigMap
metadata:
  name: crowdsec-notification-config
  namespace: security
data:
  http.yaml: |
    type: http
    name: ntfy_alerts
    log_level: info
    format: |
      {{range .}}IP {{.Source.IP}} bloquee pour {{.Scenario}}{{end}}
    url: http://ntfy.default.svc.cluster.local/security
    method: POST
    headers:
      Title: CrowdSec Alert
      Priority: high
      Tags: warning,skull
  profiles.yaml: |
    name: default_ip_remediation
    filters:
      - Alert.Remediation == true && Alert.GetScope() == "Ip"
    decisions:
      - type: ban
        duration: 4h
    notifications:
      - ntfy_alerts
    on_success: break
