---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: local-path-provisioner
spec:
  interval: 1h
  chart:
    spec:
      chart: local-path-provisioner
      version: 0.0.30
      sourceRef:
        kind: HelmRepository
        name: local-path-provisioner
  values:
    storageClass:
      name: local-path
      defaultClass: true
      reclaimPolicy: Delete
    nodePathMap:
      - node: DEFAULT_PATH_FOR_NON_LISTED_NODES
        paths:
          - /var/local-path-provisioner
