---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tailscale
  namespace: tailscale
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tailscale
  template:
    metadata:
      labels:
        app: tailscale
    spec:
      serviceAccountName: tailscale
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      containers:
        - name: tailscale
          image: tailscale/tailscale:latest
          env:
            - name: TS_AUTHKEY
              valueFrom:
                secretKeyRef:
                  name: tailscale-auth
                  key: TS_AUTHKEY
            - name: TS_EXTRA_ARGS
              value: "--login-server=https://headscale.gurzil.org --reset --accept-routes --advertise-routes=192.168.1.0/24"
            - name: TS_HOSTNAME
              value: "gurzil-homelab"
            - name: TS_USERSPACE
              value: "false"
            - name: TS_STATE_DIR
              value: "/tmp/tailscale"
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
                - NET_RAW
          volumeMounts:
            - name: dev-tun
              mountPath: /dev/net/tun
      volumes:
        - name: dev-tun
          hostPath:
            path: /dev/net/tun
