---
apiVersion: v1
kind: Service
metadata:
  name: portainer-agent
  namespace: portainer
spec:
  selector:
    app: portainer-agent
  ports:
    - port: 9001
      targetPort: 9001
      protocol: TCP
