---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: nut
  namespace: kube-system
  labels:
    app: nut
    app.kubernetes.io/name: nut
spec:
  namespaceSelector:
    matchNames:
      - kube-system
  selector:
    matchLabels:
      app: nut
  endpoints:
    - port: metrics
      interval: 30s
      path: /metrics
      scrapeTimeout: 10s
