---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: ntfy
spec:
  parentRefs:
    - name: envoy-external
      namespace: network
  hostnames:
    - ntfy.gurzil.org
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: oauth2-proxy-ntfy
          port: 4180
