---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: oauth2-proxy-longhorn
spec:
  interval: 1h
  chart:
    spec:
      chart: oauth2-proxy
      version: 7.8.1
      sourceRef:
        kind: HelmRepository
        name: oauth2-proxy
  values:
    replicaCount: 1

    config:
      configFile: |-
        provider = "oidc"
        provider_display_name = "Authentik"
        redirect_url = "https://longhorn.gurzil.org/oauth2/callback"
        oidc_issuer_url = "https://login.gurzil.org/application/o/longhorn/"
        email_domains = ["*"]
        scope = "openid profile email"
        cookie_domains = [".gurzil.org"]
        whitelist_domains = [".gurzil.org"]
        pass_access_token = true
        pass_authorization_header = true
        set_authorization_header = true
        set_xauthrequest = true
        cookie_refresh = "1m"
        cookie_expire = "30m"
        reverse_proxy = true
        skip_provider_button = true
        insecure_oidc_allow_unverified_email = true
        upstreams = ["http://longhorn-frontend.longhorn-system.svc.cluster.local:80"]

    extraEnv:
      - name: OAUTH2_PROXY_CLIENT_ID
        valueFrom:
          secretKeyRef:
            name: oauth2-proxy-longhorn
            key: client-id
      - name: OAUTH2_PROXY_CLIENT_SECRET
        valueFrom:
          secretKeyRef:
            name: oauth2-proxy-longhorn
            key: client-secret
      - name: OAUTH2_PROXY_COOKIE_SECRET
        valueFrom:
          secretKeyRef:
            name: oauth2-proxy-longhorn
            key: cookie-secret

    service:
      type: ClusterIP
      portNumber: 4180

    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        memory: 128Mi
