---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  interval: 1h
  chart:
    spec:
      chart: immich
      version: 0.9.0
      sourceRef:
        kind: HelmRepository
        name: immich
  values:
    image:
      tag: v1.123.0

    immich:
      persistence:
        library:
          existingClaim: immich-library

    env:
      DB_HOSTNAME: immich-postgresql
      DB_DATABASE_NAME: immich
      DB_USERNAME: immich
      DB_PASSWORD:
        valueFrom:
          secretKeyRef:
            name: immich-secrets
            key: DB_PASSWORD
      REDIS_HOSTNAME: immich-redis
      # OIDC Configuration
      OAUTH_ENABLED: "true"
      OAUTH_ISSUER_URL: https://login.gurzil.org/application/o/immich/
      OAUTH_CLIENT_ID:
        valueFrom:
          secretKeyRef:
            name: immich-secrets
            key: OAUTH_CLIENT_ID
      OAUTH_CLIENT_SECRET:
        valueFrom:
          secretKeyRef:
            name: immich-secrets
            key: OAUTH_CLIENT_SECRET
      OAUTH_AUTO_REGISTER: "true"
      OAUTH_BUTTON_TEXT: "Se connecter avec Authentik"

    server:
      enabled: true
      resources:
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          memory: 2Gi
      persistence:
        nextcloud:
          enabled: true
          existingClaim: nextcloud-nextcloud
          readOnly: true
          mountPath: /mnt/nextcloud

    machine-learning:
      enabled: true
      resources:
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          memory: 4Gi
      persistence:
        cache:
          enabled: true
          size: 10Gi
          storageClass: local-path

    redis:
      enabled: false

    postgresql:
      enabled: false
