---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: promtail
  namespace: monitoring
spec:
  interval: 1h
  chart:
    spec:
      chart: promtail
      version: "6.16.6"
      sourceRef:
        kind: HelmRepository
        name: grafana
  values:
    config:
      clients:
        - url: http://loki:3100/loki/api/v1/push

      snippets:
        pipelineStages:
          - cri: {}
          - multiline:
              firstline: '^\d{4}-\d{2}-\d{2}|\[\d{4}-\d{2}-\d{2}|^\[?\w+\]?\s*\d{4}'
              max_wait_time: 3s

    # Run on all nodes
    tolerations:
      - effect: NoSchedule
        operator: Exists

    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 200m
        memory: 256Mi
